@{
    ViewBag.Title = "Home Page";
}


<div class="calendar-header">
    <ul class="upper-header">
        <li>
            @DateTime.Now.DayOfWeek<br>
            <div style="font-size:18px; margin-top:-20px">@DateTime.Now.ToString("MMMM") @DateTime.Now.ToString("dd")</div>
        </li>
    </ul>
    <ul class="calendar-buttons">
        <li class="prev">❮</li>
        <li class="next">❯</li>
        <li>Day</li>
        <li>Week</li>
    </ul>
    <ul class="room">
        @for (var room = 1; room <= 5; room++)
        {
            <li>Room @room</li>
        }
    </ul>
</div>

<ul class="timeslots">
    @for(var room = 1; room <= 5; room++) {
        <li>
            
            <ul>
                @for(var timeslot=8; timeslot<=23;timeslot++){
                <li onClick="addActiveClass(this)" data-room="@room" data-timeslot="@timeslot">@timeslot:00</li>
              
                }    
            </ul>
        </li>
  
    }
</ul>
<div class="reservation-popup">
<h1>Do you wish to reserve Room from <button type="button" class="btn btn-success">Yes</button> <button type="button" class="btn btn-danger">No</button>

</div>

