@{
    ViewBag.Title = "Home Page";
}


<div class="calendar-header">
    <ul class="upper-header">
        <li>
            @DateTime.Now.DayOfWeek<br>
            <div style="font-size:18px; margin-top:-20px">@DateTime.Now.ToString("MMMM") @DateTime.Now.ToString("dd")</div>
        </li>
    </ul>
    <ul class="calendar-buttons">
        <li class="prev">❮</li>
        <li class="next">❯</li>
        <li>Day</li>
        <li>Week</li>
    </ul>
    <ul class="room">
        @for (var room = 1; room <= 5; room++)
        {
            <li>Room @room</li>
        }
    </ul>
</div>

<ul class="timeslots">
    @for(var room = 1; room <= 5; room++) {
        <li>
            
            <ul>
                @for(var timeslot=8; timeslot<=23;timeslot++){
                <li data-room="@room" data-timeslot="@timeslot">@timeslot:00</li>
              
                }    
            </ul>
        </li>
  
    }
</ul>
<div class="reservation-popup">
<h1>Do you wish to reserve Room from <button type="button" class="btn btn-success">Yes</button> <button type="button" class="btn btn-danger">No</button>

</div>
@using (Ajax.BeginForm("acceptTimeslots", "Console", new AjaxOptions { 
    HttpMethod = "Post", 
    UpdateTargetId = "result" 
}))
{
<div class="reservation-popup-test ">
    <ul>
        <li class="header">@DateTime.Now.DayOfWeek  @DateTime.Now.ToString("MMMM") @DateTime.Now.ToString("dd")<span class="glyphicon glyphicon-remove"></span></li> 
        <li class="col-lg-12 col-md-12">Your selection is from <span id="firstTimeslot"></span> to <span id="lastTimeslot"></span></li>

        <li class="col-lg-12 col-md-12"><input type="text" class="form-control input-sm" id="inputCourseName" name="inputCourseName" placeholder="Course Name" /></li>
        <input type="hidden" name="firstTimeslot" value="0" />
        <input type="hidden" name="lastTimeslot" value="0" />
        <input type="hidden" name="room" value="0" />
        <li class="col-lg-offset-8 col-md-offset-8 col-sm-offset-8 col-xs-offset-8"><input type="submit" id="submitButton" class="btn btn-primary"></li>
    </ul>


</div>
}


